Repository oupsn/interv: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_build, frontend_build

.gitlab-ci.yml:

stages:
  - lint
  - build

frontend_lint:
  stage: lint
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - cd frontend
    - npm install
    - npm run lint
  artifacts:
    paths:
      - frontend/build/

backend_build:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      allow_failure: false
      changes:
        - backend/**/*
  script:
    - cd backend
    - go mod download
    - go build -o go-fiber-app .
  artifacts:
    paths:
      - backend/go-fiber-app

frontend_build:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      allow_failure: false
      changes:
        - frontend/**/*
  script:
    - cd frontend
    - npm install
    - npx tsc

init: backend structure
  .gitignore
  backend/go.mod
  backend/go.sum
  backend/internal/domains/user.go
  backend/internal/handlers/user.go
  backend/internal/handlers/user_handler.go
  backend/internal/handlers/utils.go
  backend/internal/repositories/user.go
  backend/internal/repositories/user_repo.go
  backend/internal/services/user.go
  backend/internal/services/user_service.go
  backend/internal/utils/v.go
Due: backend_build

init:L loaders
  backend/go.mod
  backend/go.sum
  backend/internal/services/user.go
  backend/internal/utils/db/db.go
  backend/internal/utils/t/t.go
  backend/internal/utils/v/v.go
  backend/loaders/configuration.go
  backend/loaders/db.go
  backend/loaders/route.go
Due: backend_build

[INT-4] Add setup page on video interview
  backend/Dockerfile
  backend/internal/handlers/utils.go
  backend/internal/services/auth_service.go
  backend/internal/utils/db/db.go
  backend/loaders/configuration.go
  backend/loaders/db.go
  backend/loaders/route.go
  docker-compose.yaml
  frontend/Dockerfile
  frontend/package.json
  frontend/src/components/ui/select.tsx
  frontend/src/contexts/router.tsx
  frontend/src/pages/lobby/Lobby.tsx
  frontend/src/pages/lobby/components/SideBar.tsx
  frontend/src/pages/lobby/components/SideBarItem.tsx
  frontend/src/pages/lobby/videoInterview/VideoInterview.tsx
  frontend/src/pages/lobby/videoInterview/components/VideoInterviewStatusBox.tsx
Due: backend_build, frontend_build

[INT-5] Add middleware for jwt auth
  backend/.dockerignore
  backend/Dockerfile
  backend/config.env
  backend/config.yaml
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/utils/t/t.go
  backend/loaders/configuration.go
  backend/loaders/db.go
  backend/loaders/route.go
  backend/main.go
  docker-compose.yaml
  frontend/Dockerfile
  frontend/src/api/server.ts
  frontend/src/components/layout/AppLoading.tsx
  frontend/src/contexts/swr.tsx
  frontend/vite.config.ts
Due: backend_build, frontend_build

[INT-9] Add CD when merge to staging and main
  .gitlab-ci.yml
  backend/config.env
  backend/loaders/configuration.go
Due: backend_build

[INT-9] Add CD when merge to staging and main
  .gitlab-ci.yml
Due: none

[INT-11] Run deploy script when merge to staging
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

[CICD]
  .gitlab-ci.yml
Due: none

try
  .gitlab-ci.yml
Due: none

[CICD] fix dind
  .gitlab-ci.yml
Due: none

try to change image name
  .gitlab-ci.yml
Due: none

[CICD] try change image name
  .gitlab-ci.yml
Due: none

install open ssh
  .gitlab-ci.yml
Due: none

[CICD] install openssh
  .gitlab-ci.yml
Due: none

run deploy script
  .gitlab-ci.yml
Due: none

[CICD] exec deploy script
  .gitlab-ci.yml
Due: none

huh
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

[ADD] coding-interview UI
  frontend/index.html
  frontend/package.json
  frontend/src/components/pages/lobby/codingInterview/CodingInterviewInstruction.tsx
  frontend/src/components/pages/lobby/codingInterview/CodingInterviewPanel.tsx
  frontend/src/components/pages/lobby/codingInterview/codingInterviewPanel/CodingInterviewEditor.tsx
  frontend/src/components/pages/lobby/codingInterview/codingInterviewPanel/CodingInterviewQuestion.tsx
  frontend/src/components/shared/LoadingWrapper.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/contexts/loading.tsx
  frontend/src/global.css
  frontend/src/main.tsx
  frontend/src/pages/lobby/codingInterview/CodingInterview.tsx
  frontend/tailwind.config.js
Due: frontend_build

[INT-13] Move sidebar to share components
  .gitlab-ci.yml
  frontend/src/components/layout/SideBar.tsx
  frontend/src/components/layout/SideBarItem.tsx
  frontend/src/pages/lobby/Lobby.tsx
  frontend/src/pages/lobby/videoInterview/VideoInterview.tsx
Due: frontend_build

[CICD] fix time format
  .gitlab-ci.yml
Due: none

[CICD] change tag
  .gitlab-ci.yml
Due: none

[CICD] fix docker host
  .gitlab-ci.yml
Due: none

[CICD] remove docker host
  .gitlab-ci.yml
Due: none

change main layout
  backend/.dockerignore
  backend/config.yaml
  frontend/src/components/layout/LobbyLayout.tsx
  frontend/src/contexts/router.tsx
Due: backend_build, frontend_build

lint
  frontend/src/contexts/router.tsx
Due: frontend_build

[CICD] change image tag
  .gitlab-ci.yml
Due: none

[CICD] fix timestamp
  .gitlab-ci.yml
Due: none

[CICD] test tag
  .gitlab-ci.yml
Due: none

[CICD] test tag script
  .gitlab-ci.yml
Due: none

[CICD] test default script
  .gitlab-ci.yml
Due: none

[CICD] test script each job
  .gitlab-ci.yml
Due: none
